services:
  server:
    image: node:20-alpine
    working_dir: /app
    ports:
      - "3005:3005"
      - "8080:8080"
    environment:
      - PORT=3005
      - NODE_ENV=development
      - ALLOWED_ORIGINS=http://localhost:3000
      - PRICE_UPDATE_INTERVAL=2000
      - WS_PORT=8080
    volumes:
      - ./server/market-trading-service:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev"

  client:
    image: node:20-alpine
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
      - NEXT_PUBLIC_MARKET_TRADING_URL=http://localhost:3005
      - NEXT_PUBLIC_WS_URL=ws://localhost:8080
    volumes:
      - ./client/trading-dashboard:/app
      - /app/node_modules
    depends_on:
      - server
    command: sh -c "npm install && npm run dev"
